In [41]:

import torch
import torchtext
import numpy as np
import pandas as pd
import seaborn as sns


from dataset import TweetsDataset
from matplotlib import pyplot as plt

# Data first look

In [22]:
df = pd.read_csv('data/train-processed.csv' , header= None)

df = df.drop(columns=[1, 2, 3, 4, 6, 7])
df.head(3)

   0                                                  5
0  0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1  0  is upset that he can't update his Facebook by ...
2  0  @Kenichan I dived many times for the ball. Man...

In [44]:
dataset = TweetsDataset('data/train-processed.csv')
dataset.y_train

tensor([0., 0., 0.,  ..., 4., 4., 4.])

In [39]:
df.shape

(1600000, 2)